<%= form_for @matriculation_course, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :matriculation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :matriculation_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :package_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :package_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :final_grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :final_grade, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matriculation_courses_path, :class => 'btn' %>
  </div>
<% end %>
