<h1>Listing matriculation_courses</h1>

<table>
  <thead>
    <tr>
      <th>Matriculation</th>
      <th>Package</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Final grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculation_courses.each do |matriculation_course| %>
      <tr>
        <td><%= matriculation_course.matriculation_id %></td>
        <td><%= matriculation_course.package_id %></td>
        <td><%= matriculation_course.start_date %></td>
        <td><%= matriculation_course.end_date %></td>
        <td><%= matriculation_course.final_grade %></td>
        <td><%= link_to 'Show', matriculation_course %></td>
        <td><%= link_to 'Edit', edit_matriculation_course_path(matriculation_course) %></td>
        <td><%= link_to 'Destroy', matriculation_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matriculation course', new_matriculation_course_path %>
