<h1>Listing grade_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_types.each do |grade_type| %>
      <tr>
        <td><%= grade_type.name %></td>
        <td><%= grade_type.description %></td>
        <td><%= link_to 'Show', grade_type %></td>
        <td><%= link_to 'Edit', edit_grade_type_path(grade_type) %></td>
        <td><%= link_to 'Destroy', grade_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade type', new_grade_type_path %>
