<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permisssion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permisssion.description %>
</p>

<%= link_to 'Edit', edit_permisssion_path(@permisssion) %> |
<%= link_to 'Back', permisssions_path %>
