<%= form_for @matriculation_validate_exam, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :matriculation_validate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :matriculation_validate, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grade, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matriculation_validate_exams_path, :class => 'btn' %>
  </div>
<% end %>
