<h1>Listing matriculation_validate_exams</h1>

<table>
  <thead>
    <tr>
      <th>Matriculation validate</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculation_validate_exams.each do |matriculation_validate_exam| %>
      <tr>
        <td><%= matriculation_validate_exam.matriculation_validate %></td>
        <td><%= matriculation_validate_exam.grade %></td>
        <td><%= link_to 'Show', matriculation_validate_exam %></td>
        <td><%= link_to 'Edit', edit_matriculation_validate_exam_path(matriculation_validate_exam) %></td>
        <td><%= link_to 'Destroy', matriculation_validate_exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matriculation validate exam', new_matriculation_validate_exam_path %>
