<%= form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :paternal_lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :paternal_lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maternal_lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maternal_lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dni, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dni, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :district, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :district, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :province, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :province, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :department, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :home_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mobile_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthplace, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthplace, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :marital_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :marital_status_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
