<h1>Listing teacher_attendances</h1>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>State</th>
      <th>Arrival time</th>
      <th>Dismissal time</th>
      <th>Session number</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_attendances.each do |teacher_attendance| %>
      <tr>
        <td><%= teacher_attendance.package_id %></td>
        <td><%= teacher_attendance.state %></td>
        <td><%= teacher_attendance.arrival_time %></td>
        <td><%= teacher_attendance.dismissal_time %></td>
        <td><%= teacher_attendance.session_number %></td>
        <td><%= teacher_attendance.day %></td>
        <td><%= link_to 'Show', teacher_attendance %></td>
        <td><%= link_to 'Edit', edit_teacher_attendance_path(teacher_attendance) %></td>
        <td><%= link_to 'Destroy', teacher_attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher attendance', new_teacher_attendance_path %>
