<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @teacher_attendance.package_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @teacher_attendance.state %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @teacher_attendance.arrival_time %>
</p>

<p>
  <strong>Dismissal time:</strong>
  <%= @teacher_attendance.dismissal_time %>
</p>

<p>
  <strong>Session number:</strong>
  <%= @teacher_attendance.session_number %>
</p>

<p>
  <strong>Day:</strong>
  <%= @teacher_attendance.day %>
</p>

<%= link_to 'Edit', edit_teacher_attendance_path(@teacher_attendance) %> |
<%= link_to 'Back', teacher_attendances_path %>
