<%= form_for(@matriculation_validate) do |f| %>
  <% if @matriculation_validate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matriculation_validate.errors.count, "error") %> prohibited this matriculation_validate from being saved:</h2>

      <ul>
      <% @matriculation_validate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matriculation_id %><br>
    <%= f.number_field :matriculation_id %>
  </div>
  <div class="field">
    <%= f.label :institution %><br>
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
