<% Teacher.where(language_id: 2).each do |t| %>
	<tr>
		<td><%=t.person.user.username %></td>
		<td><%=complet_name(t.person.user)%></td>
		<td><%=t.language.name%></td>
		<td><%=t.person.dni%></td>
		<td>
	        <%= radio_button_tag :language, t.id  %>
		</td>
	</tr>
<% end %>