<section class="subtitle">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span6">
		                    <h1>Registrar Profesor</h1>
		                </div>
		            </div>
		        </div>
</section>

<div id="sectionsep" class="container form-horizontal">
<%= form_tag(create_teacher_path, method: 'post') do %>
	
	<!-- parte User -->
		<fieldset>
			<div class="control-group">
				<%= label_tag :username, 'Nombre de usuario', :class => 'control-label' %>
				<div class="controls">
				<%= text_field_tag :username %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :password, 'Contraseña', :class => 'control-label' %>
				<div class="controls">
				<%= text_field_tag :password %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :confirm_password, 'Confirme contraseña', :class => 'control-label' %>
				<div class="controls">
				<%= text_field_tag :confirm_password %>
				</div>
			</div>
			<br>		
		</fieldset>

	<hr>
	<br>
	<!-- parte Person -->
	<fieldset class="row-fluid">
	<div class="span6">
		<div class="control-group">
			<%= label_tag :name, 'Nombres', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :name %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :paternal_lastname, 'Apellido paterno', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :paternal_lastname %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :maternal_lastname, 'Apellido materno', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :maternal_lastname %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :dni, 'DNI', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :dni %>	
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :address, 'Dirección', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :address %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :district, 'Distrito', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :district %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :province, 'Provincia', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :province %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :department, 'Departamento', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :department %>
			</div>
		</div>

		<div class="control-group">
        	<%= label_tag :birthday, 'Fecha de nacimiento', :class => 'control-label' %>
			<div class="controls">
				<%= date_field_tag :birthday %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :birthplace, 'Lugar de nacimiento',  :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :birthplace %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :home_phone, 'Teléfono fijo', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :home_phone %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :mobile_phone, 'Teléfono móvil', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :mobile_phone %>
			</div>
		</div>
	</div>
		
	<div class="span6">
		<div class="control-group">
			<%= label_tag :sex, 'Sexo:'%>  
		</div>
		<% @sex.each do |s| %> 
				<div class="control-group">                          
	                <%= label_tag 'sex_'+s[0].to_s, s[1],  :class => 'control-label'%>
	                <div class="controls">
	                	<%= radio_button_tag :sex, s[0]  %>
	                </div>  
                </div>  
        <% end %>


		<div class="control-group">
		<%= label_tag :marital_status, 'Estado civil' %>
		</div>
		<% @marital_status.each do |m| %>
				<div class="control-group">
	                <%= label_tag 'marital_status_'+m.id.to_s, m.name,  :class => 'control-label'   %>
	                <div class="controls">
	                	<%= radio_button_tag :marital_status, m.id  %>
	                </div>
                </div>
        <% end %>
	</div>
	</fieldset>

	<hr>
	<br>

	<!-- parte Teacher -->
	<fieldset>
		<div class="control-group">
			<%= label_tag :start_date, 'Fecha de inicio',  :class => 'control-label' %>
			<div class="controls">
				<%= date_field_tag :start_date %>
			</div>
		</div>
	</fieldset>

	<hr>
	<br>

	<div class="center">
	<%= submit_tag 'Registrar profesor', :class => 'btn btn-primary' %>
	</div>
<% end %>
</div>
