<section class="subtitle">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span6">
		                    <h1>Registrar Profesor</h1>
		                </div>
		            </div>
		        </div>
</section>

<!-- Por si hay error al registrar -->
<% if @is_error %>
<div class="error">
Revisa el code, soy un mensaje de error
	<%= @message %>
</div>
<% end %>
<% if @is_notification %>
<div class="notification">
	Revisa el code, soy una notificación
	<%= @message %>
</div>
<% end %>
<!-- |||||||||||||||||||||||||||||||||||| -->

<div id="sectionsep" class="container form-horizontal">
<%= form_tag(create_teacher_path, method: 'post') do %>
	
	<!-- parte User -->

		<h3 class="center box">Datos de usuario</h3>
		<div class="row-fluid">
		<div class="span6">
			<fieldset class="box" id="sectionsep">
				<div class="control-group">
					<%= label :user, :username, 'Nombre de usuario', :class => 'control-label' %>
					<div class="controls">
					<%= text_field :user, :username %>
					</div>
				</div>
				<div class="control-group">
					<%= label :user, :password, 'Contraseña', :class => 'control-label' %>
					<div class="controls">
					<%= password_field :user, :password %>
					</div>
				</div>
				<div class="control-group">
					<%= label :user, :confirm_password, 'Confirme contraseña', :class => 'control-label' %>
					<div class="controls">
					<%= password_field :user, :confirm_password %>
					</div>
				</div>		
			</fieldset>
		</div>
		</div>
	

	<hr>
	<!-- parte Person -->
	<div class="">
	<h3 class="center box">Datos personales</h3>
	<fieldset class="row-fluid">
	<div class="span6 box" id="sectionsep">
		<div class="control-group">
			<%= label :person, :name, 'Nombres', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :name %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :paternal_lastname, 'Apellido paterno', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :paternal_lastname %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :maternal_lastname, 'Apellido materno', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :maternal_lastname %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :dni, 'DNI', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :dni %>	
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :address, 'Dirección', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :address %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :district, 'Distrito', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :district %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :province, 'Provincia', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :province %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :department, 'Departamento', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :department %>
			</div>
		</div>
	</div>
		
	<div class="span6 box" id="sectionsep">

		<div class="control-group">
        	<%= label :person, :birthday, 'Fecha de nacimiento', :class => 'control-label' %>
			<div class="controls">
				<%= date_field :person, :birthday %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :birthplace, 'Lugar de nacimiento',  :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :birthplace %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :home_phone, 'Teléfono fijo', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :home_phone %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :mobile_phone, 'Teléfono móvil', :class => 'control-label' %>
			<div class="controls">
				<%= text_field :person, :mobile_phone %>
			</div>
		</div>

		<div class="control-group">
			<%= label :person, :sex, 'Sexo:', :class => 'control-label'%> 
			<div class="controls">
				<br>
				<% @sex.each do |s| %> 
						<div class="control-group">                          
			                <%= label :person, 'sex_'+s[0].to_s, s[1],  :class => 'control-label'%>
			                <div class="controls">
			                	<%= radio_button :person, :sex, s[0]  %>
			                </div>  
		                </div>  
		        <% end %>
	        </div>
        </div>


		<div class="control-group">
		<%= label :person, :marital_status, 'Estado civil', :class => 'control-label' %>
			<div class="controls">
			<%= select :person, :marital_status, options_for_select(@marital_status) %>
			</div>
		</div>
		
	</div>
	</fieldset>
	</div>

	<hr>

	<!-- parte Teacher -->
	<h3 class="center box">Detalles</h3>
	<div class="row-fluid">
		<fieldset class=" box span6" id="sectionsep">
				<div class="control-group">
					<%= label :teacher, :start_date, 'Fecha de inicio',  :class => 'control-label' %>
					<div class="controls">
						<%= date_field :teacher, :start_date %>
					</div>
				</div>
			
				<div class="control-group">
				<%= label :teacher, :language, 'Idioma', :class => 'control-label' %>	
					<div class="controls">
						<%= select :teacher, :language, options_for_select(@languages) %>
					</div>
				</div>
		</fieldset>
	</div>

	<hr>
	<br>


	<div class="center">
	<%= submit_tag 'Registrar profesor', :class => 'btn btn-primary' %>
	</div>
<% end %>
</div>
