	<section class="subtitle">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span6">
		                    <h1>Asignar horario</h1>
		                </div>
		            </div>
		        </div>
</section>

<div  class="container form-horizontal" id="sectionsep">
	<div class="row-fluid">
		<div class="span6 box">
			<%= form_tag(new_schedule_path, method: 'get') do %>
				<h4>¿Quisiera escoger docentes de un idioma en espécífico?</h4>
				<div class="control-group">
					<%= select_tag :language, options_for_select(@languages), id: 'teachers', :class => 'control-label' %>
					<div class="controls">
						<%= link_to 'Escoger',remote: true, :class => 'btn btn-mini' %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="span6 box">
			<%= form_tag(new_schedule_path, method: 'get') do %>
				<h4>¿Cuantos días a la semana?</h4>
				<div class="control-group">
					<%= select_tag :forms, options_for_select(@numbers), id: 'forms', :class => 'control-label' %>
					<div class="controls">
						<%= link_to 'Escoger',remote: true, :class => 'btn btn-mini' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<br>
	<%= form_tag(create_schedule_path, method: 'post') do %>
	<div class="box row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre de usuario</th>
				<th>Nombre completo</th>
				<th>Idioma</th>
				<th>DNI</th>
				<th>Elección</th>
			</tr>
		</thead>
		<tbody>		
			<%= render 'new_schedule' %>
		</tbody>
	</table>
	</div>


	<br>
	
	<%= hidden_field_tag 'number', '1', id: 'number' %>
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span6 box">
			<div class="control-group">
				<%= label :package, :start_date, 'Escoja la fecha de inicio', :class => 'control-label'  %>
				<div class="controls">
						<%= date_field :package, :start_date %>
				</div>
			</div>	
		</div>
	</div>
	<br>
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="box span6" >
			<div class="control-group">
				<%= label :schedule, :day, 'Ahora escoja el dia', :class => 'control-label'  %>
				<div class="controls">
					<%= select :schedule, :day, options_for_select(@days) %>
				</div>
			</div>
			<div class="control-group">
				<%= label :schedule, :start_time, 'Hora de inicio', :class => 'control-label'  %>
				<div class="controls">
					<%= time_field :schedule, :start_time %>
				</div>
			</div>
			<div class="control-group">
				<%= label :schedule, :end_time, 'Hora de salida', :class => 'control-label'  %>
				<div class="controls">
					<%= time_field :schedule, :end_time %>
				</div>
			</div>
			<br>
			<div class="controls">
				<%= submit_tag 'Asignar Horario',:class => 'btn btn-primary', id: 'submit0' %>
			</div>
			
		</div>
	</div>
	<br>
	<div class="row-fluid">
		<div class="span3"></div>
		<div id="form1" class="box span6" >
			
		</div>
	</div>
	<br>
	<div class="row-fluid">
		<div class="span3"></div>
		<div id="form2" class="box span6" >
			
		</div>
	</div>
	<% end %>
</div>