<h1>Listing postgrade_people</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Postgrade type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postgrade_people.each do |postgrade_person| %>
      <tr>
        <td><%= postgrade_person.person_id %></td>
        <td><%= postgrade_person.postgrade_type_id %></td>
        <td><%= link_to 'Show', postgrade_person %></td>
        <td><%= link_to 'Edit', edit_postgrade_person_path(postgrade_person) %></td>
        <td><%= link_to 'Destroy', postgrade_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postgrade person', new_postgrade_person_path %>
