<%= form_for @matriculation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :pre_matriculation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pre_matriculation_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :acceptance_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :acceptance_day, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matriculations_path, :class => 'btn' %>
  </div>
<% end %>
