<%= form_for(@pre_matriculation) do |f| %>
  <% if @pre_matriculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_matriculation.errors.count, "error") %> prohibited this pre_matriculation from being saved:</h2>

      <ul>
      <% @pre_matriculation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :curse_type_id %><br>
    <%= f.number_field :curse_type_id %>
  </div>
  <div class="field">
    <%= f.label :languaje_id %><br>
    <%= f.number_field :languaje_id %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
