<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @pre_matriculation.person_id %>
</p>

<p>
  <strong>Curse type:</strong>
  <%= @pre_matriculation.curse_type_id %>
</p>

<p>
  <strong>Languaje:</strong>
  <%= @pre_matriculation.languaje_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @pre_matriculation.state %>
</p>

<%= link_to 'Edit', edit_pre_matriculation_path(@pre_matriculation) %> |
<%= link_to 'Back', pre_matriculations_path %>
