<%= form_for(@pre_mariculation_communicative) do |f| %>
  <% if @pre_mariculation_communicative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_mariculation_communicative.errors.count, "error") %> prohibited this pre_mariculation_communicative from being saved:</h2>

      <ul>
      <% @pre_mariculation_communicative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pre_matriculation_id %><br>
    <%= f.number_field :pre_matriculation_id %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.number_field :level_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
