<%- model_class = PreMariculationCommunicative -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pre_matriculation_id) %></th>
      <th><%= model_class.human_attribute_name(:level_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pre_mariculation_communicatives.each do |pre_mariculation_communicative| %>
      <tr>
        <td><%= link_to pre_mariculation_communicative.id, pre_mariculation_communicative_path(pre_mariculation_communicative) %></td>
        <td><%= pre_mariculation_communicative.pre_matriculation_id %></td>
        <td><%= pre_mariculation_communicative.level_id %></td>
        <td><%=l pre_mariculation_communicative.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pre_mariculation_communicative_path(pre_mariculation_communicative), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pre_mariculation_communicative_path(pre_mariculation_communicative),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pre_mariculation_communicative_path,
            :class => 'btn btn-primary' %>
