<p id="notice"><%= notice %></p>

<p>
  <strong>Pre matriculation:</strong>
  <%= @pre_mariculation_communicative.pre_matriculation_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @pre_mariculation_communicative.level_id %>
</p>

<%= link_to 'Edit', edit_pre_mariculation_communicative_path(@pre_mariculation_communicative) %> |
<%= link_to 'Back', pre_mariculation_communicatives_path %>
