<%= form_tag( create_register_path, method: 'post') do %>
<div id="register">
<div id="container">
        
	<section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Crear Usuario</h1>
                </div>
            </div>
        </div>
    </section>
            <!-- #first_step -->
            <div id="first_step">
                <div class="form">
                	
                    <%= text_field_tag 'username' %>
                    <%= label_tag :username, 'Nombre de Usuario' %>
                    
                    
                    <%= password_field_tag 'password' %>
                    <%= label_tag :password, 'Contraseña de al menos 4 caracteres' %>

                    <%= password_field_tag :cpassword %>
                    <%= label_tag :cpassword, 'Confirme contraseña. Si tus contraseñas no coinciden, no podrás continuar con el registro.' %>
                                       

                </div><!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                    <input class="submit" type="submit" name="submit_first" id="submit_first" value="" onclick="return false;" />
            </div>      
            <!-- clearfix --><div class="clear"></div><!-- /clearfix -->


            <!-- #second_step -->
            <div id="second_step">
                <div class="form-horizontal">  

                    <div class="control-group">
                    <% #Escoger idioma %>
                    <%= label_tag :language, 'Escoge el idioma' %>
                	<% @languages.each do |la| %>
                	<%= radio_button_tag :language, la.id  %>
                	<%= label_tag 'language_'+la.id.to_s, la.name  %>
                	<% end %>
           


                	<% #Escoger tipo de curso %>
                	<%= label_tag :course_type, 'Escoge el tipo de curso' %>
                	<% @course_types.each do |ct| %>
                	<%= radio_button_tag :course_type, ct.id  %>
                	<%= label_tag 'course_type_'+ct.id.to_s, ct.name  %>
                	<% end %>

                	<% #Escoger nivel %>
                	<%= label_tag :level, 'Escoge el nivel' %>
                	<% @levels.each do |l| %>
                	<%= radio_button_tag :level, l.id  %>
                	<%= label_tag 'level_'+l.id.to_s, l.name  %>
                	<% end %>
                    </div>

             </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_second" id="submit_second" value="" onclick="return false;" />
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->


            <!-- #third_step -->
            <div id="third_step">
                <div class="form">
                    <% #Escoger tipo de curso %>
                        <div class="span6">
                            <h2>¿Has estudiado el idioma anteriormente?</h2>
                        </div>
                        <div class="span6" id="buttonsmall">
            			 <% @student_types.each do |ct| %>
                            <%= radio_button_tag :student_type, ct[0]  %>
                            <%= label_tag 'student_type_'+ct[0].to_s, ct[1]  %>
            			 <% end %>
                        </div>
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_third" id="submit_third" value="" onclick="return false;" />            
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            
            
            <!-- #fourth_step -->
            <div id="fourth_step">
                
                <div class="form">

                <h2>Datos del curso</h2>
                    <% #Escoger paquete %>
	
	<%= label_tag :package, 'Escoge el Horario' %>
	<br><strong>Falta agregar paquetes en los seeds</strong>
	<% @packages.each do |l| %>
	<%= radio_button_tag :package, l.id  %>
	<%= label_tag 'package_'+l.id.to_s, l.name  %>
	<% end %>

                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_fourth" id="submit_fourth" value="" onclick="return false;" />       
                    
            </div>

            <div id="fifth_step">
                
            <div class="form">
            <h2>Datos personales</h2>
            <%= label_tag :paternal_lastname, 'Apellido Paterno' %> 
    <%= text_field_tag :paternal_lastname %>
    <%= label_tag :maternal_lastname, 'Apellido Materno' %>
    <%= text_field_tag :maternal_lastname %>
    <%= label_tag :name, 'Nombres' %>
    <%= text_field_tag :name %>
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            <input class="submit" type="submit" name="submit_fifth" id="submit_fifth" value="" onclick="return false;" />
            </div>

            <div id="sixth_step">
                
            <div class="form">
            <h2>Datos personales</h2>

            <%= label_tag :dni, 'DNI' %><br>
    <%= text_field_tag :dni %><br><br>
    <%= label_tag :address, 'Dirección' %><br>
    <%= text_field_tag :address %><br><br>

            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            <input class="submit" type="submit" name="submit_sixth" id="submit_sixth" value="" onclick="return false;" />
            </div>

            <div id="siete_step">
                
            <div class="form">
            <h2>Datos personales</h2>

            <%= label_tag :district, 'Distrito' %><br>
    <%= text_field_tag :district %><br><br>
    <%= label_tag :province, 'Provincia' %><br>
    <%= text_field_tag :province %><br><br>
    <%= label_tag :department, 'Departamento' %><br>
    <%= text_field_tag :department %><br><br>

            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            <input class="submit" type="submit" name="submit_siete" id="submit_siete" value="" onclick="return false;" />
            </div>

            <div id="ocho_step">
                
            <div class="form"> 
            <h2>Datos personales</h2>

            <%= label_tag :home_phone, 'Teléfono Fijo' %><br>
    <%= text_field_tag :home_phone %><br><br>
    <%= label_tag :mobile_phone, 'Teléfono Móvil' %><br>
    <%= text_field_tag :mobile_phone %><br><br>
    <%= label_tag :sex, 'Sexo' %><br>
    <% @sex.each do |s| %>
    <%= radio_button_tag :sex, s[0]  %>
    <%= label_tag 'sex_'+s[0].to_s, s[1]  %>
    <% end %>
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            <input class="submit" type="submit" name="submit_ocho" id="submit_ocho" value="" onclick="return false;" />
            </div>

            <div id="nueve_step">
                
            <div class="form">
            <h2>Datos personales</h2>

            <%= label_tag :birthday, 'Fecha de nacimiento' %><br>
    <%= date_field_tag :birthday %><br><br>
    <%= label_tag :birthplace, 'Lugar de nacimiento' %><br>
    <%= text_field_tag :birthplace %><br><br>
    <%= label_tag :marital_status, 'Estado Civil' %>
    <% @marital_statuses.each do |ms| %>
    <%= radio_button_tag :marital_status, ms.id  %>
    <%= label_tag 'marital_status_'+ms.id.to_s, ms.name  %>
    <% end %>
    <%= submit_tag 'Registrar' %>

            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            
            
            
            </div>
            
        
	</div>
</div>

<% end %>

