<section class="subtitle">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span6">
		                    <h1>Sugerir Horario</h1>
		                </div>
		            </div>
		        </div>
</section>
<div class="container" id="sectionsep">
	<div class="form-horizontal">
		
			<%= form_tag(insert_schedule_path, method: 'post') do %>
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="control-group box span6">
					<br>
					<%= label_tag :day, 'Escoja el día', :class => 'control-label'  %>
					<div class="controls">
						<%= select_tag :day, options_for_select(@days) %>
					</div>
					<br>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="control-group box span6">
					<br>
					<%= label_tag :start_time, 'Hora de inicio', :class => 'control-label'  %>
					<div class="controls">
						<%= time_field_tag :start_time %>
					</div>
					<br>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="control-group box span6">
					<br>
					<%= label_tag :end_time, 'Hora de salida', :class => 'control-label'  %>
					<div class="controls">
						<%= time_field_tag :end_time %>
					</div>
					<br>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="control-group box span6">
					<br>
					<%= label_tag :language, 'El idioma a escoger', :class => 'control-label'  %>
					<div class="controls">
						<%= select_tag :language, options_for_select(@languages) %>
					</div>
					<br>
				</div>
			</div>
			<br>
			<div class="center">
				<%= submit_tag 'Sugerir Horario',:class => 'btn btn-primary' %>
			</div>
			<% end %>
	</div>
</div>
	