<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :days, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :days, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :week_days, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :week_days, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_sessions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_sessions, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn' %>
  </div>
<% end %>
