<p id="notice"><%= notice %></p>

<p>
  <strong>Days:</strong>
  <%= @schedule.days %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.end_time %>
</p>

<p>
  <strong>Week days:</strong>
  <%= @schedule.week_days %>
</p>

<p>
  <strong>Number of sessions:</strong>
  <%= @schedule.number_of_sessions %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
