	<div class="container main" id="sectionsep">
			<div class="row-fluid">
				<div class="span4 box">
					<%= link_to ('#picture1'), :"data-toggle" => "modal" do %>
		                  <%= image_tag "galeria/aulas.png"%>
		                <% end %>
				</div>
				<div class="span4 box">
					<%= link_to ('#picture2'), :"data-toggle" => "modal" do %>
		                  <%= image_tag "galeria/aulas2.png"%>
		                <% end %>
				</div>
				<div class="span4 box">
				<%= link_to ('#picture3'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/patio.png"%>
	                <% end %>
				</div>
			</div>

			<br>
		<div class="row-fluid">
			<div class="span4 box">
				<%= link_to ('#picture4'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/patio2.png"%>
	                <% end %>
			</div>
			<div class="span4 box">
				<%= link_to ('#picture5'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/iglesia.png"%>
	                <% end %>
			</div>
			<div class="span4 box">
				<%= link_to ('#picture6'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/students.jpg"%>
	                <% end %>
			</div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="span4 box">
				<%= link_to ('#picture7'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/1.jpg"%>
	                <% end %>
			</div>
			<div class="span4 box">
				<%= link_to ('#picture8'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/room.jpg"%>
	                <% end %>
			</div>
			<div class="span4 box">
				<%= link_to ('#picture9'), :"data-toggle" => "modal" do %>
	                  <%= image_tag "galeria/fontal.jpg"%>
	                <% end %>
			</div>
		</div>
	</div>

	<div class="modal hide fade" tabindex="-1" id="picture1">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/aulas.png"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture2">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/aulas2.png"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture3">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/patio.png"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture4">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/patio2.png"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture5">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/iglesia.png"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture6">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/students.jpg"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture7">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/1.jpg"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture8">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/room.jpg"%>
        </div>
        <!--/Modal Body-->
    </div>
    <div class="modal hide fade" tabindex="-1" id="picture9">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        </div>
        <!--Modal Body-->
        <div class="modal-body">
            <%= image_tag "galeria/fontal.jpg"%>
        </div>
        <!--/Modal Body-->
    </div>