    <section id="slide-show">
     <div id="slider" class="sl-slider-wrapper">
        <!--Slider Items-->    
        <div class="sl-slider">
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "slides/1.png"%>
                <div class="flex-caption">
                    <h3>Aprende inglés</h3> 
                    <p>Para triunfar en el mundo de los negocios necesitas desarrollar diversas habilidades. El dominio de idiomas te brindará una gran ventaja competitiva.</p>
                    
                </div>
              </li>
              <li>
                <%= image_tag "slides/3.png"%>
                <div class="flex-caption">
                    <h3>Vive el mundial</h3> 
                    <p>Aprende portugués y no te pierdas ningun acontecimiento importante del mundial Brasil 2014.</p> 
                    
                </div>
              </li>
              <li>
                <%= image_tag "slides/4.jpg"%>
                <div class="flex-caption">
                    <h3>Domina al mundo</h3> 
                    <p>El dominio de idiomas sea convertido en una parte esencial en tu curriculum vitae.</p> 
                    
                </div>
              </li>
            </ul>
        </div>
        </div>
     </div>
    </section>

    <!-- Tittle -->
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                        <h2>Centro de Idiomas - Universidad Nacional San Luis Gonzaga de Ica</h2>
            </div>
        </div>
    </section>


<!--¿Quíénes somos?-->
<section id="sectionsep" class="container main">
        <div class="row-fluid">
            <div class="span8 box">
                <h2>¿Quiénes somos?</h2>
                <p>IDIOMAS UNICA es la unidad de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica que integra la experiencia de más de 40 años de los centros e institutos que la precedieron; que está dedicada a la enseñanza del idioma inglés como lengua extranjera y del español como segunda lengua.</p>
                <p>Somos el Centro de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica y te damos la más cordial bienvenida.
                Brindamos a nuestros estudiantes alta calidad en la enseñanza de idiomas, haciendo que pienses y te comuniques en el idioma que hayas elegido desde el primer día de clase.
                Perseguimos niveles de excelencia, y esto es lo que te brindará nuestro Centro de Idiomas
                Asimismo, ofrecemos cursos de conversación de inglés orientados específicamente a reforzar las habilidades de expresión oral de aquellas personas que ya tienen nivel intermedio o avanzado.</p>

                <p>Además, contamos con otros idiomas (francés, portugués e italiano) para maestristas, doctorandos y público en general que lo requieran.
                Te deseamos muchos éxitos en tus estudios.</p>
            </div>
            <div class="span4">
                <%=link_to( image_tag("galeria/1.jpg"), image_path( "galeria/1.jpg"), rel:'shadowbox', title: 'Central' )%>
            </div>
        </div>


        <hr>

        <!-- Idiomas -->
        <h1 class="center">Idiomas</h1>

        <hr>

            <div class="row-fluid">
                <div class="span3"></div>
                <div class="span7">
                    <h4>Idiomas más hablados en el mundo:</h4>
                    <div class="progress"><div class="bar" style="width: 80%; text-align:left; padding-left:10px;">Inglés</div></div>
                    <div class="progress progress-warning"><div class="bar" style="width: 70%; text-align:left; padding-left:10px;">Español</div></div>
                    <div class="progress progress-info"><div class="bar" style="width: 60%; text-align:left; padding-left:10px;">Italiano</div></div>
                    <div class="progress progress-danger"><div class="bar" style="width: 40%; text-align:left; padding-left:10px;">Francés</div></div>
                </div>
            </div>
        <!-- Boxes-Idiomas -->
        <section id="grid" class="grid clearfix">
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "1.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Inglés</h2>
                            <p>La lengua universal por excelencia.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "2.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Francés</h2>
                            <p>Una lengua muy artística, para los románticos y poetas.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "3.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Italiano</h2>
                            <p>Aproximadamente 70 millones lo hablan (60 millones en Italia y 10 en el resto del mundo).</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "4.png"%>

                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/>
                        </svg>

                        <figcaption>
                            <h2>Portugués</h2>
                            <p>Un idioma emergente. Figura Brasil, una potencia económica emergente y muy poderosa en América Latina.</p>
                            
                        </figcaption>
                    </figure>

                </a>       
        </section>
        <script>
                (function() {
        
                    function init() {
                        var speed = 250,
                            easing = mina.easeinout;

                        [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                            var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                                pathConfig = {
                                    from : path.attr( 'd' ),
                                    to : el.getAttribute( 'data-path-hover' )
                                };

                            el.addEventListener( 'mouseenter', function() {
                                path.animate( { 'path' : pathConfig.to }, speed, easing );
                            } );

                            el.addEventListener( 'mouseleave', function() {
                                path.animate( { 'path' : pathConfig.from }, speed, easing );
                            } );
                        } );
                    }

                    init();

                })();
        </script>


        <div class="row-fluid">          
                <hr>
                <!-- Meet the team -->
                <h1 class="center">Acerca de nosotros</h1>
                <hr>


                <div class="span1"></div>
                <div class="span9">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                              Visión y Misión
                            </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <p><strong>Misión</strong></p>

                                <p>Ofrecer una formación académica integral y de calidad en la enseñanza de idiomas, de manera que el alumno haga uso efectivo, funcional y autosuficiente de los mismos.</p>
                                 
                                <p><strong>Visión</strong></p>

                                <p>Ser una institución líder, referente del mejor nivel de enseñanza de idiomas como lengua  extranjera, en concordancia con la visión internacional de la Pontificia Universidad Católica del Perú.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Nuestra Metología
                                </a>
                            </div>
                              <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>La metodología que aplicamos en CENTRO DE IDIOMAS - UNICA se basa en la constante práctica que realizan nuestros alumnos. Una de las razones por la que nuestros alumnos alcanzan resultados superiores al promedio, es porque la enseñanza del idioma no está centrada en el estudio rutinario de la gramática o de sus funciones y frases comunicativas, sino en el uso de las habilidades naturales que todo ser humano tiene para establecer una comunicación apropiada.</p>
 
                                <p>Quizás hayas estudiado algún idioma por mucho tiempo y aún así no puedes comunicarte o entender lo que otros dicen con facilidad. Esto es común en la enseñanza tradicional de los idiomas. Es similar a pasar meses tratando de aprender a nadar frente a una piscina, pero al momento de la verdad, probablemente ni te animas a lanzarte. Adquirir un idioma es muy similar a aprender a nadar, no se hace únicamente ante una pizarra, sino principalmente en la práctica real diaria. Por ello, con nuestro sistema de enseñanza aprenderás el inglés de una manera más amena y natural, con actividades de interacción continua, y atención al uso del inglés cotidiano verdadero, tal como se utiliza en los países de habla inglesa.</p>
                                 
                                <p>Nuestra metodología incluye, entre otros, actividades vivenciales, audio y video para su aplicación en clase.</p>
                                 
                                <p>Para que tu aprendizaje sea dinámico, y uses de manera natural lo aprendido, en CENTRO DE IDIOMAS - UNICA te ofrecemos la combinación perfecta entre la enseñanza presencial y el apoyo de medios virtuales (Blended Learning) de tal manera que tu interacción con el inglés sea una constante, ¡24/7!</p>
                                 
                                <p>En nuestra metodología también encontrarás:</p>
                                 
                                <ul>
                                <li>Enfoque humanista.</li>
                                <li>Práctica de frases lexicales.</li>
                                <li>Actividades naturales de TPR (Total Physical Response).</li>
                                <li>Task-based activities (actividades basadas en tareas).</li>
                                <li>Práctica de vocabulario y expresiones con canciones de actualidad.</li>
                                <li>Actividades de drama y juego de roles.</li>
                                <ul>
                                </div>
                              </div>
                        </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                  Administración
                              </a>
                             </div>
                              <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="row-fluid">
                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/director.png"%></p>
                                            <h5>Director</h5>
                                            <p>Ing. Wilder Román Munive</p>
                                            <a class="btn btn-social btn-facebook" href="https://www.facebook.com/wilder.romanmunive"><i class="icon-facebook"></i></a> 
                                            <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> 
                                            <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> 
                                            <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/contador.png"%></p>
                                            <h5>Contador</h5>
                                            <p>Sr. Johnny Lovera</p>
                                            <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/secretaria.png"%></p>
                                            <h5>Secretaria</h5>
                                            <p>Srta. Luz</p>
                                            <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/secretaria2.png"%></p>
                                            <h5>Secretaria</h5>
                                            <p>Srta. Mery</p>
                                            <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <p></p>
                                <hr>
                                </div>
                               </div>
                            </div>

                        </div>
                    </div>
        </div>
        </section>