    <section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "slides/1.jpg"%>
                <div class="flex-caption">
                    <h3>Hoy es jueves</h3> 
                    <p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/2.jpg"%>
                <div class="flex-caption">
                    <h3>Mañana es Viernes =D</h3> 
                    <p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/3.jpg"%>
                <div class="flex-caption">
                    <h3>Tmr se acerca Lunes</h3> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
    <!-- end slider -->
            </div>
        </div>
    </div>  
    </section>


    <section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>Centro de Idiomas - Universidad Nacional San Luis Gonzaga de Ica</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    
        
    <section id="grid" class="grid clearfix">
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "1.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Inglés</h2>
                            <p>La lengua universal por excelencia.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "2.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Francés</h2>
                            <p>Una lengua muy artística, para los románticos y poetas.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "3.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Italiano</h2>
                            <p>Aproximadamente 70 millones lo hablan (60 millones en Italia y 10 en el resto del mundo).</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "4.png"%>

                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/>
                        </svg>

                        <figcaption>
                            <h2>Portugués</h2>
                            <p>Un idioma emergente. Figura Brasil, una potencia económica emergente y muy poderosa en América Latina.</p>
                            
                        </figcaption>
                    </figure>

                </a>
                
                
                
                
    </section>
            
        

    
    <script>
            (function() {
    
                function init() {
                    var speed = 250,
                        easing = mina.easeinout;

                    [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                            pathConfig = {
                                from : path.attr( 'd' ),
                                to : el.getAttribute( 'data-path-hover' )
                            };

                        el.addEventListener( 'mouseenter', function() {
                            path.animate( { 'path' : pathConfig.to }, speed, easing );
                        } );

                        el.addEventListener( 'mouseleave', function() {
                            path.animate( { 'path' : pathConfig.from }, speed, easing );
                        } );
                    } );
                }

                init();

            })();
        </script>
