    <section id="slide-show">
     <div id="slider" class="sl-slider-wrapper">
        <!--Slider Items-->    
        <div class="sl-slider">
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "slides/4.jpg"%>
                <div class="flex-caption">
                    <h3>Aprende inglés</h3> 
                    <p>Para triunfar en el mundo de los negocios necesitas desarrollar diversas habilidades. El dominio de idiomas te brindará una gran ventaja competitiva.</p>
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/5.jpg"%>
                <div class="flex-caption">
                    <h3>Vive el mundial</h3> 
                    <p>Aprende portugués y no te pierdas ningun acontecimiento importante del mundial Brasil 2014.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/6.jpg"%>
                <div class="flex-caption">
                    <h3>Domina al mundo</h3> 
                    <p>El dominio de idiomas sea convertido en una parte esencial en tu curriculum vitae.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
        </div>
     </div>
    </section>

    <!-- Tittle -->
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                        <h2>Centro de Idiomas - Universidad Nacional San Luis Gonzaga de Ica</h2>
            </div>
        </div>
    </section>


    <!--¿Quíénes somos?-->
    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span6">
                <h2>¿Quiénes somos? (Cambiar floro)</h2>
                <p>IDIOMAS UNICA es la unidad de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica que integra la experiencia de más de 40 años de los centros e institutos que la precedieron; que está dedicada a la enseñanza del idioma inglés como lengua extranjera y del español como segunda lengua.</p>
            </div>
            <div class="span6">
                <h2>Estadísticas mejores profesores</h2>
                <div>
                    <div class="progress"><div class="bar" style="width: 80%; text-align:left; padding-left:10px;">Mery</div></div>
                    <div class="progress progress-warning"><div class="bar" style="width: 70%; text-align:left; padding-left:10px;">Magno</div></div>
                    <div class="progress progress-info"><div class="bar" style="width: 60%; text-align:left; padding-left:10px;">Lino</div></div>
                    <div class="progress progress-danger"><div class="bar" style="width: 40%; text-align:left; padding-left:10px;">Erwin</div></div>
                </div>
            </div>
        </div>


        <hr>

        <!-- Idiomas -->
        <h1 class="center">Idiomas</h1>

        <hr>

        <!-- Boxes-Idiomas -->
        <section id="grid" class="grid clearfix">
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "1.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Inglés</h2>
                            <p>La lengua universal por excelencia.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "2.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Francés</h2>
                            <p>Una lengua muy artística, para los románticos y poetas.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "3.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Italiano</h2>
                            <p>Aproximadamente 70 millones lo hablan (60 millones en Italia y 10 en el resto del mundo).</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "4.png"%>

                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/>
                        </svg>

                        <figcaption>
                            <h2>Portugués</h2>
                            <p>Un idioma emergente. Figura Brasil, una potencia económica emergente y muy poderosa en América Latina.</p>
                            
                        </figcaption>
                    </figure>

                </a>       
    </section>
    <script>
            (function() {
    
                function init() {
                    var speed = 250,
                        easing = mina.easeinout;

                    [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                            pathConfig = {
                                from : path.attr( 'd' ),
                                to : el.getAttribute( 'data-path-hover' )
                            };

                        el.addEventListener( 'mouseenter', function() {
                            path.animate( { 'path' : pathConfig.to }, speed, easing );
                        } );

                        el.addEventListener( 'mouseleave', function() {
                            path.animate( { 'path' : pathConfig.from }, speed, easing );
                        } );
                    } );
                }

                init();

            })();
    </script>


        <div class="row-fluid">
            
                <hr>

                <!-- Meet the team -->
                <h1 class="center">aCORDION, a lo mexicano weyyyyyyyyy!!</h1>

                <hr>

                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          Visión y Misión
                        </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Requisítos para convalidar
                            </a>
                        </div>
                          <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                    </div>
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                              Administración
                          </a>
                         </div>
                          <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                <div class="span3">
                                    <div class="box">
                                        <p><img src="images/sample/team1.jpg" alt="" ></p>
                                        <h5>Roman Munive (cabeza de huevo)</h5>
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
                                        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="box">
                                        <p><img src="images/sample/team2.jpg" alt="" ></p>
                                        <h5>Sub director</h5>
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
                                        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="box">
                                        <p><img src="images/sample/team4.jpg" alt="" ></p>
                                        <h5>El contador (gordito simpaticon)</h5>
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
                                        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="box">
                                        <p><img src="images/sample/team3.jpg" alt="" ></p>
                                        <h5>LA secre! ta tia! xdd</h5>
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
                                        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            <p></p>
                            <hr>
                            </div>
                           </div>
                        </div>

</div>
</div>
</section>