    <section id="slide-show">
     <div id="slider" class="sl-slider-wrapper">
        <!--Slider Items-->    
        <div class="sl-slider">
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "slides/1.png"%>
                <div class="flex-caption">
                    <h3>Aprende inglés</h3> 
                    <p>Para triunfar en el mundo de los negocios necesitas desarrollar diversas habilidades. El dominio de idiomas te brindará una gran ventaja competitiva.</p>
                    
                </div>
              </li>
              <li>
                <%= image_tag "slides/2.png"%>
                <div class="flex-caption">
                    <h3>Vive el mundial</h3> 
                    <p>Aprende portugués y no te pierdas ningun acontecimiento importante del mundial Brasil 2014.</p> 
                    
                </div>
              </li>
              <li>
                <%= image_tag "slides/3.png"%>
                <div class="flex-caption">
                    <h3>Domina al mundo</h3> 
                    <p>El dominio de idiomas sea convertido en una parte esencial en tu curriculum vitae.</p> 
                    
                </div>
              </li>
            </ul>
        </div>
        </div>
     </div>
    </section>

    <!-- Tittle -->
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                        <h2>Centro de Idiomas - Universidad Nacional San Luis Gonzaga de Ica</h2>
            </div>
        </div>
    </section>


<!--¿Quíénes somos?-->
<section id="sectionsep" class="container main">
        <div class="row-fluid">
            <div class="span8 box">
                <h2>¿Quiénes somos?</h2>
                <p>IDIOMAS UNICA es la unidad de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica que integra la experiencia de más de 40 años de los centros e institutos que la precedieron; que está dedicada a la enseñanza del idioma inglés como lengua extranjera y del español como segunda lengua.</p>
                <p>Somos el Centro de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica y te damos la más cordial bienvenida.
                Brindamos a nuestros estudiantes alta calidad en la enseñanza de idiomas, haciendo que pienses y te comuniques en el idioma que hayas elegido desde el primer día de clase.
                Perseguimos niveles de excelencia, y esto es lo que te brindará nuestro Centro de Idiomas
                Asimismo, ofrecemos cursos de conversación de inglés orientados específicamente a reforzar las habilidades de expresión oral de aquellas personas que ya tienen nivel intermedio o avanzado.</p>

                <p>Además, contamos con otros idiomas (francés, portugués e italiano) para maestristas, doctorandos y público en general que lo requieran.
                Te deseamos muchos éxitos en tus estudios.</p>
            </div>
            <div class="span4 box">
                <%=link_to( image_tag("galeria/1.jpg"), image_path( "galeria/1.jpg"), rel:'shadowbox', title: 'Central' )%>
            </div>
        </div>


        <hr>

        <!-- Idiomas -->
        <h1 class="center">Idiomas</h1>

        <hr>

            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#idiomafrances">
                                <div class="progress progress-warning"><div class="bar" style="width: 15%; text-align:left; padding-left:10px;">Francés</div></div>
                                </a>
                            </div>
                              <div id="idiomafrances" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>
                                    <strong>BIENVENUE!</strong><br><br>

                                    A través del menú de la izquierda puede acceder a toda la información disponible acerca de los cursos de francés ofertados en el Instituto de Idiomas.<br><br>

                                    Todo lo relacionado con horarios, tutorías, programas, niveles, etc. se puede consultar en el apartado Docencia.<br><br>

                                    Si necesita información sobre cualquier asunto relacionado con la matrícula, certificados u otro trámite administrativo, deberá consultar la página de Secretaría y en caso de duda llamar allí. Este tipo de información no es competencia de las profesoras de Francés.<br><br>
                                  </p>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#idiomaingles">
                              <div class="progress"><div class="bar" style="width: 45%; text-align:left; padding-left:10px;">Inglés</div></div>
                            </a>
                            </div>
                            <div id="idiomaingles" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <strong>Welcome!</strong><br><br>

                                ¡Bienvenido al Área de Inglés!  Aquí encontrarás toda la información que necesitas sobre cualquier tema relacionado con los cursos de inglés: los horarios y contenidos de los cursos, información sobre los exámenes, las tutorías e información de contacto de los profesores, etc.<br><br>

                                Si necesitas información sobre cualquier asunto relacionado con la matrícula, certificados, o cualquier trámite administrativo, deberás consultar la página de Secretaría y, en caso de cualquier duda, llamar a Secretaría.  Este tipo de información no es competencia de los profesores de inglés.<br><br>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#idiomaitaliano">
                                <div class="progress progress-danger"><div class="bar" style="width: 10%; text-align:left; padding-left:10px;">Italiano</div></div>
                                </a>
                            </div>
                              <div id="idiomaitaliano" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <strong>Benvenuti nel sito web dell'area d'italiano</strong><br><br>

                                Los docentes del Área esperamos que, en las páginas a las que puede acceder a través del menú, pueda encontrar todas las informaciones que necesite en relación con cualquier aspecto de la enseñanza del italiano que se imparte en nuestro centro.<br><br>

                                Aconsejamos a todos nuestros alumnos que visiten el apartado "FAQs".  Su lectura les resultará de gran utilidad para solventar todas las dudas referidas a la dinámica de los exámenes.<br><br>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#idiomaportugues">
                                <div class="progress progress-info"><div class="bar" style="width: 30%; text-align:left; padding-left:10px;">Portugués</div></div>
                                </a>
                            </div>
                              <div id="idiomaportugues" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <strong>Bem-vindo à Área de Português</strong><br><br>

                                    A través del menú puede acceder a toda la información disponible acerca de los cursos de portugués ofertados en el Instituto de Idiomas.<br><br>

                                    Todo lo relacionado con horarios, tutorías, programas, niveles, etc. se puede consultar en el apartado Docencia.<br><br>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <!--end span8-->
            </div>
        <!-- Boxes-Idiomas -->
        <section id="grid" class="grid clearfix">
                <a data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "1.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Inglés</h2>
                            <p>La lengua universal por excelencia.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "4.png"%>

                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/>
                        </svg>

                        <figcaption>
                            <h2>Portugués</h2>
                            <p>Un idioma emergente. Figura Brasil, una potencia económica emergente y muy poderosa en América Latina.</p>
                            
                        </figcaption>
                    </figure>

                </a>   
                <a data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "2.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Francés</h2>
                            <p>Una lengua muy artística, para los románticos y poetas.</p>
                            
                        </figcaption>
                    </figure>
                </a>
                <a data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <%= image_tag "3.png"%>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>Italiano</h2>
                            <p>Aproximadamente 70 millones lo hablan (60 millones en Italia y 10 en el resto del mundo).</p>
                            
                        </figcaption>
                    </figure>
                </a>    
        </section>
        <script>
                (function() {
        
                    function init() {
                        var speed = 250,
                            easing = mina.easeinout;

                        [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                            var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                                pathConfig = {
                                    from : path.attr( 'd' ),
                                    to : el.getAttribute( 'data-path-hover' )
                                };

                            el.addEventListener( 'mouseenter', function() {
                                path.animate( { 'path' : pathConfig.to }, speed, easing );
                            } );

                            el.addEventListener( 'mouseleave', function() {
                                path.animate( { 'path' : pathConfig.from }, speed, easing );
                            } );
                        } );
                    }

                    init();

                })();
        </script>


        <div class="row-fluid">          
                <hr>
                <!-- Meet the team -->
                <h1 class="center">Adicional</h1>
                <hr>


                <div class="span2"></div>
                <div class="span8">
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              <h6>Informes</h6>
                            </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                                <div class="accordion-inner">
                                
                                <%= image_tag "mantenimiento.png"%>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <h6>Convenios y Beneficios</h6>
                                </a>
                            </div>
                              <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <%= image_tag "mantenimiento.png"%>

                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#horarios">
                                <h6>Horarios</h6>
                                </a>
                            </div>
                              <div id="horarios" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  
                                    <%= image_tag "mantenimiento.png"%>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#docentes">
                                <h6>Docentes</h6>
                                </a>
                            </div>
                              <div id="docentes" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Luego de un largo y cuidadoso proceso de selección, en el que se evalúan la cultura, el nivel de inglés, la propiedad comunicativa, la personalidad y la prestancia del maestro, los profesores de IDIOMAS CATOLICA son entrenados intensivamente en la teoría y la práctica de nuestro sistema metodológico.</p>
                                    <p>&nbsp;</p>
                                    <p>Antes de ser contratados, los docentes realizan numerosas prácticas de micro-enseñanza donde asisten a clases verdaderas para que, bajo la orientación de un profesor-tutor, ellos puedan apreciar, en la vida real, las técnicas que aplicamos en el instituto y las respuestas de los alumnos en las actividades de clase.</p>
                                    <p>&nbsp;</p>
                                    <p>Aunque nuestro enfoque principal es la enseñanza del inglés americano, la mayoría de nuestros docentes tiene un amplio dominio del inglés internacional, demostrado con diplomas como los de Cambridge-ESOL o las universidades de Oxford o Michigan, certificaciones reconocidas en el mundo entero que revelan el alto nivel comunicativo de nuestros profesores.</p>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#instalaciones">
                                <h6>Instalaciones</h6>
                                </a>
                            </div>
                              <div id="instalaciones" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Nuestros laboratorios poseen las siguientes características<br>
                                    <ul>
                                    <li>Práctica individual asistida de los alumnos en las áreas que más le interese reforzar.</li>
                                    </ul>
                                    <ul>
                                    <li>Puestos audio-activos-comparativos de acuerdo al software utilizado: permiten escuchar una grabación modelo, repetirla, grabarla, escuchar lo grabado, comparar, corregir y consolidar la práctica.</li>
                                    </ul>
                                    <ul>
                                    <li>Laboratorio audio-video: permite la emisión de señales de audio y video en cada terminal y combinar este trabajo con el uso de ejercicios en red para mejorar la comprensión.</li>
                                    </ul>
                                    <ul>
                                    <li>Administración de programas instalados en red.</li>
                                    </ul>
                                    <ul>
                                    <li>Bloqueo de funciones seleccionadas en las terminales de los alumnos para una mejor administración de los recursos.</li>
                                    </ul>
                                    <ul>
                                    <li>Subtitulación de videos para la consolidación de la comprensión auditiva.</li>
                                    </ul>

                                </div>
                              </div>
                        </div>
                        </div>
                    </div>
        </div>
        </section>