<p id="notice"><%= notice %></p>

<p>
  <strong>Matriculation validate:</strong>
  <%= @document.matriculation_validate_id %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @document.document_type_id %>
</p>

<p>
  <strong>Document code:</strong>
  <%= @document.document_code %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
