
<table>
	<tr>
		<th>Usuario</th>
		<th>Nombre Completo</th>
		<th>Fecha de inicio</th>
		<th>Idioma</th>
		<th>Número de Cursos</th>
	</tr>
	<% @teachers.each do |t| %>
		<tr>
			<td><%= t.person.user.username %></td>
			<td><%= complet_name(t.person.user) %></td>
			<td><%= t.start_date %></td>
			<td><%= t.language.name %></td>
			<td><%= t.packages.count %></td>
		</tr>
	<% end %>
</table>