<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @administrator.person_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @administrator.start_date %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
