<div id="login" class="row-fluid">    
			<section class="subtitle">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span6 center">
		                    <h1>Iniciar Sesión</h1>
		                </div>
		            </div>
		        </div>
		    </section>
		    <br>
		    <br>
    		<div class="form-horizontal">
    			<div class="span5">
    				<%= image_tag "candado.png"%>
    			</div>
    			<div class="span7">
					<div class="control-group">
						<div class="controls">
							<%=@message%>
						</div>
					</div>
					<%= form_tag({controller: 'security', action: 'login'}, method: 'post') do %>
					<div class="control-group">
						<%=label_tag :username, 'Nombre de usuario', :class => 'control-label'%>
						<div class="controls">
							<%=text_field_tag :username%>
						</div>
					</div>
					<div class="control-group">
						<%=label_tag :password, 'Contraseña', :class => 'control-label'%>
						<div class="controls">
							<%=password_field_tag :password%>
						</div>
					</div>
					<div class="controls">
						<%=submit_tag 'Ingresar', :class => 'btn btn-primary' %>
					</div>
					<hr>
					<%end%>
					
					<div class="controls">
						¿No estás registrado? <%= link_to 'Matrículate' , new_register_path %>
					</div>
				</div>
			</div>
  </div>