<div class="page-header">
  <h1>Ingresar</h1>
</div>
<div class="error">
	<br>
		<%=@message%>
	<br><br>
</div>
<div class="form-horizontal">
	<%= form_tag({controller: 'security', action: 'login'}, method: 'post') do %>
	<div class="control-group">
		<%=label_tag :username, 'Nombre de usuario', :class => 'control-label'%>
		<div class="controls">
			<%=text_field_tag :username%>
		</div>
	</div>
	<div class="control-group">
		<%=label_tag :password, 'Contraseña', :class => 'control-label'%>
		<div class="controls">
			<%=password_field_tag :password%>
		</div>
	</div>
		<div class="form-actions">
			<%=submit_tag 'Ingresar', :class => 'btn btn-primary' %>
		</div>
	<%end%>
</div>
<div class="link">
		¿No estás registrado? <%= link_to 'Matrículate' , matriculations_path %>
</div>