    <section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Nosotros</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="sectionsep">
    	<div class="row-fluid">
    		<div class="span6 box">
    			<%= image_tag "galeria/aulas2.png", size:"800" %>
    		</div>
    		<div class="span6">
    			<div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#institucion">
                                <h6>Institución</h6>
                                </a>
                            </div>
                              <div id="institucion" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>Nuestro prestigioso programa de enseñanza y  programación cultural variada permite que nuestros estudiantes sean parte de  los cambios y tendencias mundiales, sean parte de un mundo, multicultural,  abierto al intercambio comercial y de cambios constantes.</p>
                                  <p>  Nuestros docentes con certificación internacional&nbsp; de la CaMLA (Cambridge - Michigan Language  Assessment), lo cual garantiza el buen manejo del idioma Inglés. Además, están  ampliamente capacitados en el uso de metodología de la enseñanza de un segundo  idioma. Nuestros docentes reciben capacitación constante y utilizan modelos de  aprendizaje innovadores con tecnología de punta para garantizar que nuestros  estudiantes dominen el inglés americano.
                                  </p>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#historia">
                                <h6>Nuestra Historia</h6>
                                </a>
                            </div>
                              <div id="historia" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>IDIOMAS UNICA es la unidad de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica que integra la experiencia de más de 40 años de los centros e institutos que la precedieron; que está dedicada a la enseñanza del idioma inglés como lengua extranjera y del español como segunda lengua.</p>
				                <p>Somos el Centro de Idiomas de la Universidad Nacional San Luis Gonzaga de Ica y te damos la más cordial bienvenida.
				                Brindamos a nuestros estudiantes alta calidad en la enseñanza de idiomas, haciendo que pienses y te comuniques en el idioma que hayas elegido desde el primer día de clase.
				                Perseguimos niveles de excelencia, y esto es lo que te brindará nuestro Centro de Idiomas
				                Asimismo, ofrecemos cursos de conversación de inglés orientados específicamente a reforzar las habilidades de expresión oral de aquellas personas que ya tienen nivel intermedio o avanzado.</p>

				                <p>Además, contamos con otros idiomas (francés, portugués e italiano) para maestristas, doctorandos y público en general que lo requieran.
				                Te deseamos muchos éxitos en tus estudios.</p>
				                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#vision">
                            	<h6>Visión</h6>
                            </a>
                            </div>
                            <div id="vision" class="accordion-body collapse">
                                <div class="accordion-inner">
	                                <p>
									La Visión expresa la evolución del concepto Instituto Cultural en una institución que forme profesionales multilingües, una universidad multilingüe, que será única en su género en el Perú, formando profesionales en el campo de las relaciones y negocios internacionales con dominio de idiomas que el Perú exigirá en el futuro, por su desarrollo comercial y exportador y generador de una sociedad de conocimiento y sea un referente de excelencia en la difusión de la cultura en todas sus expresiones, aportando desarrollo para la persona como eje del desarrollo de la sociedad. Este es el gran desafío de la institución.
									</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#mision">
                                <h6>Misión</h6>
                                </a>
                            </div>
                              <div id="mision" class="accordion-body collapse">
                                <div class="accordion-inner">
                                	<p>
									La razón de ser del ICPNA es la difusión de la cultura peruana, norteamericana y de otras regiones del mundo, en todas sus expresiones, como componente importante para el desarrollo de la persona como célula de la sociedad y la formación de profesionales multilingües, que dominen las lenguas universales como el inglés, el español, el quechua y otras lenguas que la sociedad demande en su oportunidad.
									</p>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#valores">
                                <h6>Valores</h6>
                                </a>
                            </div>
                              <div id="valores" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <ul>
	                                    <li>Servicio: Vocación de servicio a la sociedad, a los clientes internos y clientes externos</li>
										<li>Credibilidad: Nuestros actos son coherentes con lo que decimos. Nuestros productos y servicios son superiores y de excelencia y nos esforzamos en que siempre sea así.</li>
										<li>Compromiso: Para asumir responsabilidades y retos de manera proactiva, involucrándonos en alcanzar las metas del ICPNA-RC. Compromiso además con el desarrollo de la persona.</li>
										<li>Honestidad: En nuestros actos, en nuestras palabras, en nuestros pensamientos.</li>
										<li>Unidad: Somos una Unidad</li>
										<li>Trabajo y colaboración en equipo: Somos un equipo al servicio de los clientes, interactuamos e interdependemos generando sinergias.</li>
										<li>Respeto y valoración a los clientes internos y externos: Respeto a la dignidad humana, a las normas y a los principios institucionales.</li>
									</ul>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#metodologia">
                                <h6>Nuestra Metodología</h6>
                                </a>
                            </div>
                              <div id="metodologia" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>La metodología que aplicamos en CENTRO DE IDIOMAS - UNICA se basa en la constante práctica que realizan nuestros alumnos. Una de las razones por la que nuestros alumnos alcanzan resultados superiores al promedio, es porque la enseñanza del idioma no está centrada en el estudio rutinario de la gramática o de sus funciones y frases comunicativas, sino en el uso de las habilidades naturales que todo ser humano tiene para establecer una comunicación apropiada.</p>
 
	                                <p>Quizás hayas estudiado algún idioma por mucho tiempo y aún así no puedes comunicarte o entender lo que otros dicen con facilidad. Esto es común en la enseñanza tradicional de los idiomas. Es similar a pasar meses tratando de aprender a nadar frente a una piscina, pero al momento de la verdad, probablemente ni te animas a lanzarte. Adquirir un idioma es muy similar a aprender a nadar, no se hace únicamente ante una pizarra, sino principalmente en la práctica real diaria. Por ello, con nuestro sistema de enseñanza aprenderás el inglés de una manera más amena y natural, con actividades de interacción continua, y atención al uso del inglés cotidiano verdadero, tal como se utiliza en los países de habla inglesa.</p>
	                                 
	                                <p>Nuestra metodología incluye, entre otros, actividades vivenciales, audio y video para su aplicación en clase.</p>
	                                 
	                                <p>Para que tu aprendizaje sea dinámico, y uses de manera natural lo aprendido, en CENTRO DE IDIOMAS - UNICA te ofrecemos la combinación perfecta entre la enseñanza presencial y el apoyo de medios virtuales (Blended Learning) de tal manera que tu interacción con el inglés sea una constante, ¡24/7!</p>
	                                 
	                                <p>En nuestra metodología también encontrarás:</p>
	                                 
	                                <ul>
	                                <li>Enfoque humanista.</li>
	                                <li>Práctica de frases lexicales.</li>
	                                <li>Actividades naturales de TPR (Total Physical Response).</li>
	                                <li>Task-based activities (actividades basadas en tareas).</li>
	                                <li>Práctica de vocabulario y expresiones con canciones de actualidad.</li>
	                                <li>Actividades de drama y juego de roles.</li>
	                                <ul>
                                </div>
                              </div>
                        </div>
                        <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  <h6>Administración</h6>
                              </a>
                             </div>
                              <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="row-fluid">
                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/director.png"%></p>
                                            <h5>Director</h5>
                                            <p>Ing. Wilder Román Munive</p>
                                            <a class="btn btn-social btn-facebook" href=""><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href=""><i class="icon-google-plus"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/contador.png"%></p>
                                            <h5>Contador</h5>
                                            <p>Sr. Johnny Lovera</p>
                                            <a class="btn btn-social btn-facebook" href=""><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href=""><i class="icon-google-plus"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/secretaria.png"%></p>
                                            <h5>Secretaria</h5>
                                            <p>Srta. Luz</p>
                                            <a class="btn btn-social btn-facebook" href=""><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href=""><i class="icon-google-plus"></i></a>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="box">
                                            <p><%= image_tag "galeria/secretaria2.png"%></p>
                                            <h5>Secretaria</h5>
                                            <p>Srta. Mery</p>
                                            <a class="btn btn-social btn-facebook" href=""><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href=""><i class="icon-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <p></p>
                                <hr>
                                </div>
                               </div>
                            </div>
                    </div>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="row-fluid">
    	<div class="span3"></div>
	    	<div class="span6 box form-horizontal">
	    		<hr>
	    		<h3 class="center">Contacto</h3>
	    		<hr>
				<%= form_tag(f_contact_path, method: 'post') do %>
						<div class="control-group">
							<%= label_tag :name, 'Nombre :', :class => 'control-label' %>
							<div class="controls">
								<%= text_field_tag :name %>	
							</div>				
						</div>
					<br>
						<div class="control-group">
							<%= label_tag :title, 'Título :', :class => 'control-label' %>
							<div class="controls">
								<%= text_field_tag :title %>
							</div>
						</div>
					<br>
						<div class="control-group">
							<%= label_tag :body, 'Mensaje :', :class => 'control-label' %>
							<div class="controls">
								<%= text_area_tag :body,"", :size => "1x8" %>
							</div>
						</div>
					<br>
					<div class="center">
					<%= submit_tag 'Enviar', :class => 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		</div>
    </div>