	<section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Contácto</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->    

<div class="container" id="sectionsep">
<div class="row-fluid">
		<div class="span5"><%= image_tag 'galeria/contacto.jpg' %></div>
		<div class="span1"></div>
		<div class="span6">
			<hr>
			<%= form_tag(f_contact_path, method: 'post') do %>
				<%= label_tag :name, 'Nombre :' %>
				<%= text_field_tag :name %><br><br>
				<%= label_tag :title, 'Título :' %>
				<%= text_field_tag :title %><br><br>
				<%= label_tag :body, 'Mensaje :' %>
				<%= text_area_tag :body,"", :size => "1x8" %><br><br>
				<%= submit_tag 'Enviar', :class => 'btn btn-primary' %>
			<% end %>
			<hr>
		</div>
</div>
</div>