<%= form_for @student_attendance, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :matriculation_course_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :matriculation_course_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attendance_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :attendance_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                student_attendances_path, :class => 'btn' %>
  </div>
<% end %>
