<%= form_for(@student_attendance) do |f| %>
  <% if @student_attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_attendance.errors.count, "error") %> prohibited this student_attendance from being saved:</h2>

      <ul>
      <% @student_attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matriculation_course_id %><br>
    <%= f.number_field :matriculation_course_id %>
  </div>
  <div class="field">
    <%= f.label :attendance_date %><br>
    <%= f.date_select :attendance_date %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
