<p id="notice"><%= notice %></p>

<p>
  <strong>Matriculation:</strong>
  <%= @matricualtion_validate.matriculation_id %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @matricualtion_validate.institution %>
</p>

<%= link_to 'Edit', edit_matricualtion_validate_path(@matricualtion_validate) %> |
<%= link_to 'Back', matricualtion_validates_path %>
