<%= form_for @unica_person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :person_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :college_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :college_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :semester, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :semester, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                unica_people_path, :class => 'btn' %>
  </div>
<% end %>
