<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Centro de Idiomas" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For nonRetina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'ico/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application", :media => "all" %>
    <script type='text/javascript'>
        Shadowbox.init({
        overlayColor: "#000",
        overlayOpacity: "0.6",
        });
    </script>
  </head>
  <body>


    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to '', index_path, id: 'logo', class: 'pull-left' %>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li <%=paint_active(['profile','welcome'])%>><%= link_to 'Inicio' , index_path %></li>
                        <li <%=paint_active('tasks')%> class="dropdown">
                            <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>Tareas<i class="icon-angle-down"></i>
                            <% end %>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Matrículas pendientes", pending_matriculations_path  %></li> 
                                <li><%= link_to "Registrar profesor", new_teacher_path  %></li>
                                <li><%= link_to "Asignar Horario", new_schedule_path  %></li>                               
                            </ul>
                        </li>
                        <li <%=paint_active('first_register') %> class="dropdown">
                            <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>Matrículas<i class="icon-angle-down"></i>
                            <% end %>
                            <ul class="dropdown-menu">
                                    <li><%= link_to "Sugerir Horario", suggest_schedule_path  %></li> 
                                    <li><%= link_to "Primera matrícula", new_register_path  %></li>
                                    <li><%= link_to "Matricularme en otros cursos", '#'  %></li>                       
                            </ul>
                        </li>
                        <% if is_loged %>
                        <li <%=paint_active('teachers')%>  class="dropdown" ><%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>Docentes<i class="icon-angle-down"></i>
                            <% end %>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Listar docentes", teacher_index_path  %></li> 
                                <li><%= link_to "Mis horarios", teacher_schedules_path  %></li>
                                <li><%= link_to "Mis sueldos", teacher_salaries_path  %></li>
                                <li><%= link_to "Comentarios sobre mí", teacher_comments_path  %></li>                              
                        </ul>
                        </li>
                        <li <%=paint_active('students')%>  class="dropdown" ><%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>Estudiantes<i class="icon-angle-down"></i>
                            <% end %>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Listado de Alumnos", student_index_path  %></li> 
                                <li><%= link_to "Mis horarios", student_schedules_path  %></li>
                                <li><%= link_to "Mis notas", student_notes_path  %></li>
                                <li><%= link_to "Mis certificados", student_certificates_path  %></li>                              
                        </ul>
                        </li>
                        <% end %>                        
                        <li <%=paint_active('faq')%>><%= link_to 'FAQ' , faq_path %></li> 
                        <li <%=paint_active('contact')%>><%= link_to 'Contacto' , contact_path %></li>
                        <li <%=paint_active('security')%> class="login">
                            <%= link_to to_security, 'data-toggle' => 'modal', data: security_confirm do %>
                            <i class="icon-lock"></i> <%=security_message%>
                            <% end %>
                        </li>
                    </ul>        
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    <!-- /header -->

    <!-- Principal -->
        <%= bootstrap_flash %>
        <%= yield %>
    <!-- final Principal -->


    <!-- divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
    </div>
    <!-- end divider -->



    <!--Bottom-->
    <section id="bottom" class="main">
        <!--Container-->
        <div class="container">

            <!--row-fluids-->
            <div class="row-fluid">

                <!--Contact Form-->
                <div class="span4">
                    <h4>Contáctenos</h4>
                    <ul class="unstyled address">
                        <li>
                            <i class="icon-home"></i><strong>Dirección:</strong> Local Central Calle Bolívar 232.
                        </li>
                        <li>
                            <i class="icon-envelope"></i>
                            <strong>Email: </strong> ci-unica@hotmail.com
                        </li>
                        <li>
                            <i class="icon-globe"></i>
                            <strong>Website:</strong> www.unica.edu.pe
                        </li>
                        <li>
                            <i class="icon-phone"></i>
                            <strong>Telf.:</strong> (056)239148
                        </li>
                    </ul>
                </div>
                <!--End Contact Form-->

                <!--Important Links-->
                <div id="tweets" class="span4">
                    <h4>Centro de Idiomas</h4>
                    <div>
                        <ul class="arrow">
                            <li <%=paint_active(['profile','welcome'])%>><%= link_to 'Inicio' , index_path %></li>
                            <li <%=paint_active('first_register')%>><%= link_to "Matriculas", new_register_path  %></li>
                            <% if is_loged %>
                            <li <%=paint_active('teachers')%>><%= link_to "Docentes", teachers_path  %></li>
                            <li <%=paint_active('students')%>><%= link_to "Estudiantes", students_path  %></li>
                            <% end %>                        
                            <li><%= link_to 'FAQ' , faq_path %></li> 
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>  
                </div>
                <!--Important Links-->

                <!--Archives
                <div id="archives" class="span3">
                    <h4>ARCHIVES</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="#">December 2012 (1)</a></li>
                            <li><a href="#">November 2012 (5)</a></li>
                            <li><a href="#">October 2012 (8)</a></li>
                            <li><a href="#">September 2012 (10)</a></li>
                            <li><a href="#">August 2012 (29)</a></li>
                            <li><a href="#">July 2012 (1)</a></li>
                            <li><a href="#">June 2012 (31)</a></li>
                        </ul>
                    </div>
                </div>
                Archives-->

                <div class="span4">
                    <h4>Galería</h4>
                    <div class="row-fluid first">
                        <ul class="thumbnails">
                          <li class="span3">
                            <%=link_to( image_tag("galeria/aulas.png", size: "75x75"), image_path( "galeria/aulas.png"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/aulas2.png", size: "75x75"), image_path( "galeria/aulas2.png"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/patio.png", size: "75x75"), image_path( "galeria/patio.png"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/patio2.png", size: "75x75"), image_path( "galeria/patio2.png"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3">
                            <%=link_to( image_tag("galeria/iglesia.png", size: "75x75"), image_path( "galeria/iglesia.png"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/2.jpg", size: "75x75"), image_path( "galeria/2.jpg"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/1.jpg", size: "75x75"), image_path( "galeria/1.jpg"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                        <li class="span3">
                            <%=link_to( image_tag("galeria/3.jpg", size: "75x75"), image_path( "galeria/3.jpg"), rel:'shadowbox[galeria1]', title: 'Central' )%>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <!--/row-fluid-->
    </div>
    <!--/container-->

    </section>
    <!--/bottom-->




    <!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span5 cp">
                    <p><a target="_blank" href="https://www.facebook.com/dwnofearcode" title="Free Twitter Bootstrap WordPress Themes and HTML templates"><%= image_tag "ico/nofear.png"%></a>         2014.</p>
                </div>
                <!--/Copyright-->

                <div class="span6">
                    <ul class="social pull-right">
                        <li><a href="https://www.facebook.com/UNICA.CI"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>                       
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-tumblr"></i></a></li>                        
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-rss"></i></a></li>
                        <li><a href="#"><i class="icon-github-alt"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>                   
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up active"></i></a>    
  </body>
</html>
